<table id="room" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>roomSeq</th>
			<th>roomName</th>
			<th>roomCharge</th>
			<th>roomDesc</th>
			<th>availGuest</th>
			<th>smokingYn</th>
			<th>bathAmenityYn</th>
			<th>wififreeYn</th>
			<th>breakfastYn</th>
			<th>Action</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tmp in roomList" repeat-done>
			<td ng-bind="tmp.ROOMSEQ"></td>
			<td ng-bind="tmp.ROOMNAME"></td>
			<td ng-bind="tmp.ROOMCHARGE"></td>
			<td ng-bind="tmp.ROOMDESC"></td>
			<td ng-bind="tmp.AVAILGUEST"></td>
			<td ng-bind="tmp.SMOKINGYN"></td>
			<td ng-bind="tmp.BATHAMENITYYN"></td>
			<td ng-bind="tmp.WIFIFREEYN"></td>
			<td ng-bind="tmp.BREAKFASTYN"></td>
			<td>
				<input type="button" value="Update" class="btn btn-info" ng-click="updateRow(tmp.ROOMSEQ)"/>
			</td>
			<td>
				<input type="button" value="Remove" class="btn btn-danger" ng-click="removeRow(tmp.ROOMSEQ)"/>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>roomSeq</th>
			<th>roomName</th>
			<th>roomCharge</th>
			<th>roomDesc</th>
			<th>availGuest</th>
			<th>smokingYn</th>
			<th>bathAmenityYn</th>
			<th>wififreeYn</th>
			<th>breakfastYn</th>
			<th>Action</th>
			<th>Action</th>
		</tr>
	</tfoot>
</table>