@CHARSET "UTF-8";
.fr-menu:hover{color:#fff;}
.heading-block > span:not(.before-heading) { margin-top: 0px;}
.fluid-width-video-wrapper {border:1px solid #ccc;}
.home-search{vertical-align:middle;text-align:center;margin-top:120px;margin-bottom:120px;}
.home-search-main{text-align:center;}
.home-search .heading-block:after {content: '';display: block;margin-top: 0px;width: 0px;border-top: 0px solid #444;}
.home-search .heading-block h1 {font-size:65px;}
.ui-autocomplete  {font-size:13px;font-family:'Lato';scroll:auto;border:1px solid #ccc;}
.ui-autocomplete .ui-autocomplete-category {font-weight:bold;border-bottom:1px dotted #aaa;padding-top:10px;}

