<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="getList" parameterType="boardDto" resultType="boardDto">
	SELECT *
	FROM (SELECT result1.*, ROWNUM rnum
		  FROM (SELECT boardSeq, writer, title, category, content, viewCount, regdate
			    FROM board
			    <where>
			    	<if test="writer != null">
			    	OR	writer LIKE '%' || #{writer} || '%'
			    	</if>
			    	<if test="title != null">
			    	OR 	title LIKE '%' || #{title} || '%'
			    	</if>
			    	<if test="content != null">
			    	OR 	content LIKE '%' || #{content} || '%'
			    	</if>
			    	<if test="category != null">
			    	OR 	category LIKE '%' || #{category} || '%'
			    	</if>
			    </where>
			  ORDER BY boardSeq DESC
			  ) result1
		  )
	WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getData" parameterType="boardDto" resultType="boardDto">
		SELECT result1.*
		FROM (SELECT boardSeq, writer, title, category, content, viewCount,
					 TO_CHAR(regdate, 'YYYY.MM.DD AM HH:MI') regdate,
					 LAG(boardSeq, 1, 0) OVER(ORDER BY boardSeq DESC) as prevNum,
					 LEAD(boardSeq, 1, 0) OVER(ORDER BY boardSeq DESC) as nextNum
			  FROM board
			  <where>
			  		<if test="writer != null">
			    	OR	writer LIKE '%' || #{writer} || '%'
			    	</if>
			    	<if test="title != null">
			    	OR 	title LIKE '%' || #{title} || '%'
			    	</if>
			    	<if test="content != null">
			    	OR 	content LIKE '%' || #{content} || '%'
			    	</if>
			    	<if test="category != null">
			    	OR 	category LIKE '%' || #{category} || '%'
			    	</if>
			  </where>
			  ORDER BY boardSeq DESC) result1
		WHERE boardSeq=#{boardSeq} 
	</select>
	
	<insert id="insert" parameterType="boardDto">
		INSERT INTO board 
		(boardSeq, writer, title, category, content, viewCount, regdate)	
		VALUES(board_seq.NEXTVAL, #{writer}, #{title}, #{category}, #{content}, #{viewCount}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="boardDto">
		UPDATE board
		SET title=#{title}, category=#{category}, content=#{content}
		WHERE boardSeq=#{boardSeq}	
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE boardSeq=#{boardSeq}
	</delete>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board
	</select>
	
	<update id="increaseViewCount" parameterType="int">
		UPDATE board
		SET viewCount=viewCount+1
		WHERE boardSeq=#{boardSeq}
	</update>
</mapper>