<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : 해당 xml 문서의 이름을 지정 -->
<!-- select : select 문 실행 -->
<!-- id : 함수 이름 -->
<!-- resultType : select 결과셋을 저장하는 객체타입 -->
<!-- 부득이하게 컬럼명과 dto 데이터의 변수명이 다를경우 as를 사용해서 맞춘다. -->
<mapper namespace="customer">
	<select id="isExistId" parameterType="string" resultType="string">
		SELECT id
		FROM customer
		where id=#{id}
	</select>

	<select id="isValid" parameterType="customerDto" resultType="customerDto">
		SELECT id, pwd
		FROM customer
		WHERE id=#{id} and pwd=#{pwd}
	</select>

	<select id="getData" parameterType="String" resultType="customerDto">
		SELECT id, pwd, name, phone, email, TO_CHAR(regdate, 'YYYY/MM/DD') as regdate
		FROM customer
		WHERE id=#{id}
	</select>

	<insert id="insert" parameterType="customerDto">
		INSERT INTO customer
		(id, pwd, name, phone, email, regdate)
		VALUES (#{id}, #{pwd}, #{name}, #{phone}, #{email}, SYSDATE)
	</insert>

	<delete id="delete" parameterType="String">
		DELETE FROM customer WHERE id=#{id}
	</delete>

	<update id="update" parameterType="customerDto">
		UPDATE customer
		SET pwd=#{pwd}, phone=#{phone}, email=#{email}
		WHERE id=#{id}
	</update>

	<update id="modifyPwd" parameterType="customerDto">
		UPDATE customer
		SET pwd=#{pwd}
		WHERE id=#{id}
	</update>
</mapper>
