<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">
	<!-- 선택된 방의 데이터를 리턴해주는 쿼리문 -->
	<select id="getData" parameterType="int" resultType="roomDto">
		SELECT
			room_seq AS roomSeq,
		    room_name AS roomName,
		    room_charge AS roomCharge,
		    room_desc AS roomDesc,
		    avail_guest AS availGuest,
		    smoking_yn AS smokingYn,
		    bathAmenity_yn AS bathAmenityYn,
		    wififree_yn AS wifiFreeYn,
		    breakfast_yn AS breakfastYn,
		    img_src AS imgSrc
		 FROM
		 	room
		 WHERE
		 	room_seq=#{roomSeq}
	</select>

	<!-- 방의 타입에 따른 방의 개수를 리턴해주는 쿼리문 -->
	<!-- 가져온 파라미터를 if 문에서 해당 파라미터 명을 그대로 사용해서 비교연산이 가능하다 -->
	<select id="getCount" resultType="int" parameterType="roomDto">
		SELECT
			NVL(MAX(ROWNUM), 0)
		FROM
			room
		<if test="roomType != null">
		JOIN
			grade ON (room_charge BETWEEN lowest AND highest)
		WHERE
			room_grade = #{roomType}
		</if>
	</select>

	<!-- 현재 예약 가능한 방의 리스트(낮은 가격 순 정렬) -->
	<!-- @param : checkIn, checkOut -->
	<!-- result : 예약 가능한 방의 정보를 담은 roomDto type -->
	<select id="selRoomListAsc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge ASC, room_seq ASC) selRooms)
	WHERE
 		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- 예약 가능한 방 가격 높은 순 정렬 -->
	<select id="selRoomListDesc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge DESC, room_seq DESC) selRooms)
 	WHERE
		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- cheap grade 에서 예약가능한 방 출력 ASC-->
	<select id="selCheapListAsc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    JOIN
			            grade ON (room_charge BETWEEN lowest AND highest)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    AND
			            room_grade = 'cheap'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge ASC, room_seq ASC) selRooms)
	WHERE
 		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- cheap grade 에서 예약가능한 방 출력 DESC-->
	<select id="selCheapListDesc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    JOIN
			            grade ON (room_charge BETWEEN lowest AND highest)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    AND
			            room_grade = 'cheap'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge DESC, room_seq DESC) selRooms)
	WHERE
 		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- popular grade 에서 예약가능한 방 출력 -->
	<select id="selPopListAsc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    JOIN
			            grade ON (room_charge BETWEEN lowest AND highest)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    AND
			            room_grade = 'popular'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge ASC, room_seq ASC) selRooms)
	WHERE
 		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- popular grade 에서 예약가능한 방 출력 -->
	<select id="selPopListDesc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT selRooms.*,
				ROWNUM AS rnum
		FROM
			(SELECT
				*
			FROM
				room
			WHERE
				room_seq
			IN
			    (SELECT
			            room_seq
			    FROM
			            room
			    JOIN
			            room_order USING (room_seq)
			    JOIN
			            grade ON (room_charge BETWEEN lowest AND highest)
			    WHERE
			            resv_date
			    BETWEEN
			            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
			    AND
			            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
			    AND
			            resv_yn = 'y'
			    AND
			            room_grade = 'popular'
			    GROUP BY
			            room_seq
			    HAVING
			    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
			    )
			ORDER BY room_charge DESC, room_seq DESC) selRooms)
	WHERE
 		rnum BETWEEN #{startRowNum} AND #{endRowNum}
	]]>
	</select>

	<!-- luxury grade 에서 예약가능한 방 출력 ASC-->
	<select id="selLuxeListAsc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT
			*
		FROM
			room
		WHERE
			room_seq
		IN
		    (SELECT
		            room_seq
		    FROM
		            room
		    JOIN
		            room_order USING (room_seq)
		    JOIN
		            grade ON (room_charge BETWEEN lowest AND highest)
		    WHERE
		            resv_date
		    BETWEEN
		            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
		    AND
		            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
		    AND
		            resv_yn = 'y'
		    AND
		            room_grade = 'luxury'
		    GROUP BY
		            room_seq
		    HAVING
		    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
		    )
		ORDER BY room_charge ASC, room_seq ASC)
	]]>
	</select>

	<!-- luxury grade 에서 예약가능한 방 출력 DESC -->
	<select id="selLuxeListDesc" parameterType="roomDto" resultType="roomDto">
	<![CDATA[
	SELECT
		room_seq AS roomSeq,
	    room_name AS roomName,
	    room_charge AS roomCharge,
	    room_desc AS roomDesc,
	    avail_guest AS availGuest,
	    smoking_yn AS smokingYn,
	    bathAmenity_yn AS bathAmenityYn,
	    wififree_yn AS wifiFreeYn,
	    breakfast_yn AS breakfastYn,
	    img_src AS imgSrc
	FROM
		(SELECT
			*
		FROM
			room
		WHERE
			room_seq
		IN
		    (SELECT
		            room_seq
		    FROM
		            room
		    JOIN
		            room_order USING (room_seq)
		    JOIN
		            grade ON (room_charge BETWEEN lowest AND highest)
		    WHERE
		            resv_date
		    BETWEEN
		            TO_DATE(#{checkIn}, 'yyyy.mm.dd')
		    AND
		            TO_DATE(#{checkOut}, 'yyyy.mm.dd')
		    AND
		            resv_yn = 'y'
		    AND
		            room_grade = 'luxury'
		    GROUP BY
		            room_seq
		    HAVING
		    		count(*) >= (TO_DATE(#{checkOut}, 'yyyy.mm.dd') - TO_DATE(#{checkIn}, 'yyyy.mm.dd'))
		    )
		ORDER BY room_charge DESC, room_seq DESC)
	]]>
	</select>
</mapper>