<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardComment">
	<select id="getList" parameterType="int" resultType="boardCommentDto">
		SELECT 
				board_seq AS boardSeq, 
				writer, 
				content, 
				target_id AS targetId, 
				ref_group AS refGroup, 
				comment_group AS commentGroup, 
				regdate
		FROM 
				board_comment
		WHERE 
				ref_group=#{board_seq}
		ORDER BY 
				commentGroup ASC, boardSeq ASC	
	</select>
	
	<select id="getSequence" resultType="int">
		SELECT 
				board_seq.NEXTVAL
		FROM 
				DUAL
	</select>
	
	<insert id="insert" parameterType="boardCommentDto">
		INSERT INTO boardComment
		(board_seq, writer, content, target_id, ref_group, commentIgroup, regdate)
		VALUES(#{board_seq}, #{writer}, #{content}, #{target_id}, #{ref_group}, #{comment_group}, SYSDATE)
	</insert>
</mapper>