<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardComment">
	<select id="getList" parameterType="int" resultType="boardCommentDto">
		SELECT boardSeq, writer, content, targetId, refGroup, commentGroup, regdate
		FROM boardComment
		WHERE refGroup=#{boardSeq}
		ORDER BY commentGroup ASC, boardSeq ASC	
	</select>
	
	<select id="getSequence" resultType="int">
		SELECT board_seq.NEXTVAL
		FROM DUAL
	</select>
	
	<insert id="insert" parameterType="boardCommentDto">
		INSERT INTO boardComment
		(boardSeq, writer, content, targetId, refGroup, commentGroup, regdate)
		VALUES(#{boardSeq}, #{writer}, #{content}, #{targetId}, #{refGroup}, #{commentGroup}, SYSDATE)
	</insert>
</mapper>